
<mat-toolbar class="bg-fundo">
    <img src="/assets/img/logo itau.svg" alt="">

    <div class="d-flex nav">
            <ul class="data-list">
                <i class="fas fa-chevron-left"></i>
                <li>CPF <b>000.000.000-00</b> </li>
                <li>Agência <b>1000</b> </li>
                <li>Conta <b>999999</b> </li>
                <li>Dígito <b>9</b> </li>
            </ul>
        
            <div class="d-flex data-list-2">
                <h4>validador i-token</h4>
                <div class="avatar"></div>
            <app-dropmenu></app-dropmenu>
            
            </div>


            
            

    </div>
</mat-toolbar>